/* src/Dashboard.css */

.container-dashboard {
    background-color: #f4f4f4;
    min-height: 500px;
    z-index: 100;
    position: relative;
    top: 300px;
    left: 300px;
    border-radius: 15px;
  }
  
  .titledashboard {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    display: block;
    position: relative;
  }
  
  .dashboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ddd;
    color: black;
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .elementss {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #totalevents{
    position: relative;
  }
  .maintitle{
    font-size: 30px;
  }
  @media (max-width: 768px){
    .container-dashboard{
      top: 300px;
      left: -5px;
    }
    .titledashboard{
      font-size: 25px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center ;
    }
    .dashboard-container{
      flex-wrap: wrap;
      margin: 0px;
      height: 350px;
    }
  }