.modaluser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #757575; 
  overflow-y: hidden;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  border: solid 3px #800000;
  padding: 50px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
  overflow-y: hidden;
}

.titlengevent{
  color: #800000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;

}

.userbutton{
color: #800000;
left: 58.5%;
top: 48%;
position: absolute;
margin-top: -100px;
font-size: 20px;
background-color: white;
border: none;
width: 30px;
border-radius: 8px;
}

.userbutton:hover{
background-color: lightgray;
cursor: pointer;
}

.usermodal{
color: #757575;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  .next-buttonweek, .back-buttonweek {
    width: 50px;
    height: 50px;
    background-color: white;
    top: 50%;
    z-index: 10;
    border-radius: 50px;
  }
  .next-buttonweek{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .back-buttonweek{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .next-buttonweek{
    position: absolute;
    right: -55px;
    z-index: 100;
  }
  .back-buttonweek{
    position: absolute;
    left: -55px;
    z-index: 100;
  }

  
  .eventsbutton {
    background-color: white;
    border: solid #800000;
    padding: 8px 20px;
    color: #800000;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .holidaybutton {
    background-color: white;
    border: solid goldenrod;
    padding: 8px 20px;
    color: goldenrod;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  .eventsbutton, .holidaybutton, .saveevent, .cancel {
    transition: background-color 0.3s ease; 
  }
  .eventsbutton::selection{
    background-color: #800000;
  }
  .eventsbutton:hover {
    background-color: #800000;
    color: white;
  }
  .holidaybutton:hover {
    background-color: goldenrod;
    color: white;
  
  }
  .saveevent:hover,
  .cancel:hover {
    background-color:lightgray;
  }
  
  .saveevent {
    background-color: white;
    color: #800000;
    border: solid #800000;
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px 8px;
  }
  
  .deleteevent{
    background-color: white;
    color: #800000;
    border: solid #800000;
    border-radius: 10px;
    padding: 8px 8px;
    margin-left: 30px;
    margin-right: 40px;
  }
  
  .cancel{
  background-color: white;
    color: #800000;
    border: solid #800000;
    border-radius: 10px;
    padding: 8px 10px;
  }
  
  .deleteevent:hover {
    background-color: lightgray;
  }
  
  
  #calendar-title{
    position: absolute; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
  } 
  
  .headngmodal{
    color: #800000;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
  }
  
  .titlemodal, .wheremodal, .starttimemodal,
  .endtimemodal, .attiremodal, .descripmodal {
    border: solid gray 3px;
    border-radius: 4px;
    height: 25px;
    width: 200px;
  }
  
  .headngconfirmmodal{
    color: #800000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .confirm-delete{
    height: 35px;
    width: 55px;
    background-color: white;
    color: #800000;
    border: solid 2px #800000;
    border-radius: 8px;
    margin-right: 240px;
  }
  
  .cancel-delete{
    height: 35px;
    width: 55px;
    background-color: white;
    color: #800000;
    border: solid 2px #800000;
    border-radius: 8px;
  }
  
  .confirm-delete:hover, .cancel-delete:hover{
    background-color: lightgrey;
    
  }
  .cancel{
    background-color: white;
    color: #800000;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    position: fixed;
    right: 580px;
    top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .cancel:hover{
    background-color: lightgray;
  }
  .full-calendar-containeruserweek{
    position: absolute;
    height: 900px;
    width: 80%;
    top: 120px;
    left: 7.5%;
    background-color: rgb(222, 222, 248); 
    /* eto po yung kulay nung today */
  }
  .fc-day{
    background-color: #ffffff;
    /* color po ng buong day kasama week title */
    color: black;
  }
  .fc-daygrid-day{
    color: #757575;
    /* color ng kada day  */
  }
  .fc-daygrid-event{
    background-color: #f3f3f3;
    color: black;
    padding: 10px;
  }
  .fc-dayGridWeek-view .fc-daygrid-body .fc-daygrid-day {
    height: 500px !important;
}
    .fc-event-time{
        display: none;
    }

  