.header{
    background-color: #800000;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12.7vh;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
  }
  @media  (max-width: 768px)  {
    .header{
      width: 100%;
    }

    
  }