.fc-daygrid-event-dot{
    position: absolute;
    height: 28px;
    width: 170px;
    left: 0px;
    right: 10px;
    border-radius: 20px;
  }
  .fc-daygrid-event{
    background-color: inherit;
    position: relative;
  }